* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: #845EC2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    flex-grow: 1; /* Ensures .container expands to fill the remaining vertical space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    margin-top: 3vmin;
    color: white;
}

h2 {
    font-size: 6vmin;
}

.phone-container {
    width: 40vmin;
    height: 70vmin;
    background-color: rgb(234, 228, 228);
    border: 3vmin solid black;
    border-radius: 3vmin;
    margin-top: 4vmin;
    position: relative; /* Ensure positioning context for absolute footer */
}

.phone-background {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vmin;
}

.camera {
    width: 2vmin;
    height: 2vmin;
    background-color: gainsboro;
    border-radius: 50%;
}

#description {
    margin-top: 3vmin;
    font-size: 3vmin;
}

#user-input {
    font-size: 2.8vmin;
    margin-top: 2vmin;
    border-radius: 2vmin;
    border: 1px solid black;
    height: 6vmin;
    width: 30vmin;
    text-align: center;
}

footer {
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmin;
    background-color: black;
}

.btn {
    width: 12vmin;
    height: 5vmin;
    border-radius: 1vmin;
}

.btn:hover {
    cursor: pointer;
}

.output {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    height: 40vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow:auto;
    padding: 2vmin;
    scrollbar-width:thin;
}

.output-text{
    font-size: 3vmin;
}


